
body
{
background-color:rgb(224, 148, 186);
}

img{
    height: 50px; 
    width: 80px;
}



@media only screen and (max-width: 800px) {
    .column {
        flex: 40%;
        max-width: 40%;
    }
}

@media only screen and (max-width: 370px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* ipad1 */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .column{
    flex: 50%;
    max-width: 50%;

}


/*phone 4*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .column {
    flex: 120%;
    max-width: 120%;

}


/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .column {
    flex: 25%;
    max-width: 25%;
}

